@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Peregrinate A Travel Category Bootstrap Responsive Website Template  | Home :: w3layouts</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- // Meta Tags -->
	<!--booststrap-->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
	<!--//booststrap end-->
	<!-- font-awesome icons -->
	<link href="css/fontawesome-all.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!--stylesheets-->
	<link href="css/style.css" rel='stylesheet' type='text/css' media="all">
	<!--//stylesheets-->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
</head>
<body>

	<!--/banner-->
	<!-- about  -->
	<section class="wthree-row w3-about py-md-5">
		<div class="container py-4 mt-2">
			<h3 class="tittle text-center mb-3">Una forma diferente de viajar</h3>
			<p class="tit text-center mx-auto">¡Hola! Nos encanta viajar por el Perú para descubrir su riqueza natural y cultural. Queremos contagiarte esta pasión y entusiasmo para que disfrutes al máximo la belleza del país y sus tesoros ocultos. ¡Únete a esta aventura y tomemos juntos el mismo camino!</p>
			<div class="card-deck pt-4 mt-md-4">
				<div class="card">

					<div class="card-body w3ls-card">
						<h5 class="card-title">¿Cuánto cuesta un pasaje de Bus con APP Bus?</h5>
						<p class="card-text mb-3 ">Las tarifas de bus variarán dependiendo de los puntos de partida y de destino.</p>

					</div>
				</div>
				<div class="card">

					<div class="card-body w3ls-card">
						<h5 class="card-title">¿Debo imprimir mi pasaje de bus antes de abordar?</h5>
						<p class="card-text mb-3 "> Si debes imprimirlo antes de abordar, recuerda que todos los pasajeros tendrán que imprimir su pasaje de bus que fue enviado a su correo electrónico en formato PDF para luego ser intercambiado por un boleto físico en el counter de la empresa de bus con la que vas a realizar el viaje.</p>

					</div>
				</div>
				<div class="card">

					<div class="card-body w3ls-card">
						<h5 class="card-title">Tu seguridad es nuestra máxima prioridad</h5>
						<p class="card-text mb-3 ">APP Bus valora tu seguridad y bienestar.</p>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->
	<!-- features -->
	<section class="features py-md-5">
		<div class="container py-4 mt-2">
			<h3 class="tittle text-center mb-3">¿Quiénes somos?</h3>
			<p class="tit text-center mx-auto">
				APP Bus es una plataforma de venta de pasajes de bus que facilita el proceso de compra para todo viajero. Como usuario podrás comparar precios, ver horarios y conocer la opinión de las personas que ya viajaron (sistema de ratings) con las principales empresas de transporte terrestre de todo el Perú.
				APP Bus fue fundada en el 2022, con el objetivo de transformar el rubro de los viajes turísticos en bus. Hoy en día se ha convertido en la mayor plataforma mundial de compra de pasajes de bus, llegando a vender más de 75 millones de pasajes y conectando un gran número de ciudades alrededor del mundo con un solo click. Con sedes en países como India, Malasia, Singapur, Indonesia y -recientemente- Perú y Colombia, APP Bus pone en las manos de todo viajero la mejor herramienta para la planificación de viajes placenteros e inolvidables.
			</p>


			<!-- features -->
			<section class="features py-md-5">
				<div class="container py-4 mt-2">
					<h3 class="tittle text-center mb-3">¿Por qué comprar con nosotros?</h3>
					<p class="tit text-center mx-auto">
						APP Bus pone a disposición de los viajeros la más fácil, intuitiva y flexible experiencia en la compra de pasajes de bus por internet. Busca un destino, mira los asientos disponibles, elige el que más te guste y reserva tu pasaje haciendo unos cuantos clicks. Pero la experiencia con APP Bus no termina en la compra, ya que contamos con un equipo de atención al cliente atento y preocupado por resolver cualquier duda que tenga antes de realizar el viaje. Nos interesa conocer siempre la opinión de nuestros clientes, con el objetivo de esforzarnos por mejorar cada día más para brindar un servicio eficiente y de gran calidad.
					</p>


					<!-- services -->
					<div class="agileits-services py-md-5">
						<div class="container py-4 mt-2">
							<h3 class="tittle text-center mb-3 text-white">Services</h3>
							<p class="tit text-center mx-auto text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel ab, nesciunt quod!</p>
							<div class="row agileits-services-row pt-4 mt-md-4">
								<div class="col-md-4 agileits-services-grids">
									<div class="row ser-tp">
										<div class="col-xs-3 wthree-ser">
											<i class="fab fa-accessible-icon"></i>
										</div>
										<div class="col-xs-9 wthree-heading">
											<h4 class="pl-3">100% CONFIABLE</h4>
										</div>
										<p class="mt-3">Contamos con medios de pago seguros que garantizan la protección de tu compra.</p>
									</div>
								</div>
								<div class="col-md-4 agileits-services-grids">
									<div class="row ser-tp">
										<div class="col-xs-3 wthree-ser">
											<i class="fas fa-anchor"></i>
										</div>
										<div class="col-xs-9 wthree-heading">
											<h4 class="pl-3">VIAJAR EN BUS</h4>
										</div>
										<p class="mt-3">Escoge entre más de 150 empresas de bus. Viaja a más de 900 rutas por todo el Perú.</p>
									</div>
								</div>
								<div class="col-md-4 agileits-services-grids">
									<div class="row ser-tp">
										<div class="col-xs-3 wthree-ser">
											<i class="fab fa-avianex"></i>
										</div>
										<div class="col-xs-9 wthree-heading">
											<h4 class="pl-3">OFERTAS</h4>
										</div>
										<p class="mt-3">Compra pasajes al mejor precio con nuestras promociones.</p>
									</div>
								</div>
							</div>
							<div class="row agileits-services-row-2">
								<div class="col-md-4 agileits-services-grids">
									<div class="row ser-tp">
										<div class="col-xs-3 wthree-ser">
											<i class="fas fa-bus"></i>
										</div>
										<div class="col-xs-9 wthree-heading">
											<h4 class="pl-3">MEDIO DE PAGO</h4>
										</div>
										<p class="mt-3">Paga con tarjeta de débito, crédito o Paypal. También paga sin tarjetas, usando el depósito en efectivo de PagoEfectivo.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //services -->



				</div>
				<div class="col-lg-7 about-left">
					<!-- testimonials -->
					<div class="w3_agile-section testimonials text-center" id="testimonials">
						<div class=" w3ls-team-info test-bg">
							<div class="testi-left">
								<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

									<div class="carousel-item">
										<div class="row thumbnail adjust1">
											<div class="col-md-3 col-sm-3">
												<img class="media-object img-fluid" src="images/ts3.jpg" alt="" />
											</div>
											<div class="col-md-9 col-sm-9">
												<div class="caption testi-text">
													<p>
														<span class="fa fa-quote-left" aria-hidden="true"></span>Donec euismod consequat mi, pretium consequat mi, pretium
														volutpat nibh tempor volutpat nibh tempor nec.
													</p>
													<h4><span></span>Justin</h4>
												</div>
											</div>
										</div>
										<div class="row thumbnail adjust1 fone">
											<div class="col-md-3 col-sm-3">
												<img class="media-object img-fluid" src="images/ts4.jpg" alt="" />
											</div>
											<div class="col-md-9 col-sm-9">
												<div class="caption testi-text">
													<p>
														<span class="fa fa-quote-left" aria-hidden="true"></span>Donec euismod consequat mi, pretium consequat mi, pretium
														volutpat nibh tempor volutpat nibh tempor nec.
													</p>
													<h4><span></span>Justin</h4>
												</div>
											</div>
										</div>
									</div>
									<div class="carousel-item">
										<div class="row thumbnail adjust1">
											<div class="col-md-3 col-sm-3">
												<img class="media-object img-fluid" src="images/ts2.jpg" alt="" />
											</div>
											<div class="col-md-9 col-sm-9">
												<div class="caption testi-text">
													<p>
														<span class="fa fa-quote-left" aria-hidden="true"></span>Donec euismod consequat mi, pretium consequat mi, pretium
														volutpat nibh tempor volutpat nibh tempor nec.
													</p>
													<h4><span></span>Justin</h4>
												</div>
											</div>
										</div>
										<div class="row thumbnail adjust1 fone">
											<div class="col-md-3 col-sm-3">
												<img class="media-object img-fluid" src="images/ts3.jpg" alt="" />
											</div>
											<div class="col-md-9 col-sm-9">
												<div class="caption testi-text">
													<p>
														<span class="fa fa-quote-left" aria-hidden="true"></span>Donec euismod consequat mi, pretium consequat mi, pretium
														volutpat nibh tempor volutpat nibh tempor nec.
													</p>
													<h4><span></span>Justin</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //testimonials-->
		</div>
		</div>
		</div>
	</section>



	</div>
	</footer>
</body>
</html>